
<div class="flex-container-body">
  <%= render partial: "shared/sidebar", locals: {dashboard: @dashboard} %>

  <div class="flex-container-user-body" id="user-body">
    <%= render partial: "favorites_user_body", locals: {dashboard: @dashboard} %>

  </div>
</div>