article {
  position: relative;
  margin-left: 20px;
  margin-bottom: 16px;
  float: left;
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}


.flex-container-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: stretch;
}

.flex-container-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}

.flex-container-follower {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: stretch;
  padding: 30px;
}

.flex-container-user-profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  padding: 10px;
}

.flex-item-user-body {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: flex-start;
  border-radius: 5px;
  padding: 15px;
  flex-grow: 0;
  flex-shrink: 0;
}

.flex-item {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  padding: 15px;
  flex-grow: 0;
  flex-shrink: 0;
}

.flex-item-followed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  padding: 15px;
  flex-grow: 0;
  flex-shrink: 0;
}

.flex-item-center {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  padding: 15px;
  flex-grow: 0;
  flex-shrink: 0;
}

.flex-item-center-footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  border-radius: 5px;
  padding: 50px;
  flex-grow: 0;
  flex-shrink: 0;
}

#footer {
  flex-basis: 100%;
  height: auto;
  background: #646464;
}

#title {
  height: 30px;
  flex-basis: auto;
  font-family: Papyrus, fantasy;
  font-size: 20px;
  margin-top: 20px;
}

#body{
  flex-basis: 100%;
  min-height: 300px;
  height: auto;
  background: #ffffff;
  justify-content: center;
}

.footer-image {
  height: 150px;
  width: 150px;
}

#paragraph {
  flex-direction: column;
  text-align: left;
  p {
    font-size: 15px;
    color: white;
    font-family: Comic Sans MS;
  }
}

a { color: inherit;
    text-decoration: none}

#flash-notice{
}

#delete-link{
  font-family: Papyrus, fantasy;
  float: right;
  margin-right: 50px;
}

.rant-container {
  min-height: 150px;
}

.rant-title {
  height: 30px;
  flex-basis: auto;
  font-family: Papyrus, fantasy;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.flash {
  background: #0c690d;
  font-size: 2em;
  width: 100%;
  text-align: center;
}


