

body {
  height: 100%;
  background-color:#ffffff;
}

#join_button {
  width: 150px;
  height: 70%;
  box-shadow: 2px 2px 2px #888888;
  background-color: #0c690d;
  border-radius: 5px;
  font-size: 25px;
  color: white;
}


