.flex-container-rant {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
}

.flex-item-rant {
  display: flex;
  border-radius: 5px;
  flex-wrap: wrap;
  padding: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
}

.flex-item-bio {
  display: flex;
  border-radius: 5px;
  flex-wrap: wrap;
  padding: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 80%;
  overflow: hidden;
}

.favorite-button {
  color: cornflowerblue;
}

.flex-item-profile-rant-title {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  flex-grow: 0;
  flex-shrink: 0;
}

.rant-title {
  font-size: 15px;

}

.flex-item-buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

