.flex-container-rant-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: stretch;
  padding: 5px;
}

.flex-item-rant-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  padding: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 20px;
}

#rant-submit-button {
    width: 150px;
    height: 30px;
    box-shadow: 2px 2px 2px #888888;
    background-color: #0c690d;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}


[name~="rant[text]"]{
  height: 300px;
  width: 96%;
  color: black;
  font-size: 18px;
}