form {
  display: inline-block;
  justify-content: left;
  margin: auto;
}

.title {
    font-size: 30px;
}

#registration-body {
  flex-basis: 60%;
  background: white;
  height: 85%;
  margin-top: 15px;
}

.flex-container-registration-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}

