<% if dashboard %>
<div class="stats">
  <a href="<%= followers_user_path(dashboard.user) %>">
    <strong id="following" class="stat">
      <%= dashboard.user.followers.count %>
    </strong>
    following
  </a>
</div>
<% end %>