<% if @user %>
<div class="stats">
  <a href="<%= followers_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followers.count %>
    </strong>
    following
  </a>
</div>
<% end %>