<div class="flex-container-follower"></div>
<% dashboard.user.following.each do |followed| %>
    <div class="flex-item-followed">
      <h1><%= full_name(followed) %></h1>
      <%= render partial: "shared/follow_link", locals: {user: dashboard.user, other_user: followed} %>
    </div>
<% end %>