<div class="rant-container">
  <% users.each do |user| %>
      <% user.rants.each do |rant| %>
          <br>
          <%= rant.text %>
          <!--<%= rant.user.first_name %>-->
          <br>
      <% end %>
  <% end %>
</div>
