<% rants.each do |rant| %>
    <div class="single-rant">
    <%= link_to markdown(rant.text), user_rant_path(current_user, rant.id) %><br>
    <%= link_to "Delete",  user_rant_path(params[:id], rant.id), :method => :delete, :class => 'rant-delete-link' %>
    </div>
<% end %>

