<div class="flex-container-body" id="user-profile">

  <%= render partial: "shared/sidebar", locals: {dashboard: @dashboard} %>

  <div class="flex-container-user-body" id="user-body">
    <%= render partial: "edit_form", locals: {dashboard: @dashboard} %>
  </div>

</div>
