<div class="flex-container-body" id="user-profile">
  <%= render partial: "shared/sidebar", locals: {dashboard: @dashboard} %>

  <div class="flex-container-follower" id="user-body">
    <%= render partial: "users/followed_users", locals: {dashboard: @dashboard} %>
  </div>
</div>


<div class="rant-body"><%= render partial: "followed_users", locals: {dashboard: @dashboard} %></div>