<div class="flex-container-body">
  <%= render partial: "shared/sidebar", locals: {dashboard: @dashboard} %>

  <div class="flex-container-followed" id="user-body">
    <%= render partial: "users/followed_users", locals: {dashboard: @dashboard} %>
  </div>
</div>

