<div class="comment-user-form">
  <%= form_for [dashboard.user, rant, dashboard.new_comment] do |f| %>
      <div>
        <%= f.text_area :text, :placeholder => "Rant Back!", :class => 'rant-comment-input' %>
      </div>
      <div>
        <%= f.submit class: "rant-btn" %>
      </div>
  <% end %>
</div>