<div class="flex-item" id="body">
  <div class="flex-container" id="body">
    <div class="flex-container-splash">
      <section>
        <article class="flex-item-center">
          <p id="logo_styling">Rantly</p>
        </article>
      </section>
      <!-- .class -->
      <section class="flex-item-center">
        <article>
          <p id="tagline-styling">Let it all out</p>
        </article>
      </section>
    </div>
  </div>
</div>
  <footer class="flex-container-footer" id="footer">
    <div class="flex-item-center-footer">
      <img src="/images/profile.jpg" class="footer-image">

      <div class="flex-item-center-footer" id="paragraph">
        <p>"Rantly has allowed a certain freedom I never thought possible. Now I can rant<br>
          to the internet at large, without having to worry about my thoughts. I just type it<br>
          out, hit click, and feel the surge of relief. Thanks Rantly, you've truly made my<br>
          most inane rants heard. I remember a time when I wasn't able to truly express<br>
          myself. It's really frustrating when you want to be heard and no one..."<br>
        </p><br>

        <p>
          | Jeff Taggart, avid Ranter
        </p>
      </div>
    </div>
  </footer>
