<div id="content">
  <div class="wrapper">

    <!--  1/3 x 1/3 x 1/3 -->
    <section class="clearfix">
      <article class="one_third">
      </article>
      <article class="one_third">
      </article>
      <article class="one_third">

      </article>
    </section>
    <!-- END row -->


    <!--  1/3 x 1/3 x 1/3 -->
    <section class="clearfix">
      <article class="one_third">
      </article>
      <article class="one_third">
        <p id="logo_styling">Rantly</p>

      </article>
      <article class="one_third">

      </article>
    </section>
    <!-- END row -->

  </div>

  <footer>
    <div class="wrapper">

      <!--  2/3 x 1/3 -->
      <section class="clearfix">
        <article class="two_third">

        </article>
        <article class="one_third">

        </article>
      </section>
      <!-- END row -->

    </div>
    <!-- END wrapper -->
  </footer>
</div>