<div class="flex-container" id="body">
  <div class="flex-container-splash">
    <section>
      <article class="flex-item-center">
        <p id="logo_styling">Rantly</p>
      </article>
    </section> <!-- .class -->
    <section class="flex-item-center">
      <article>
        <p id="tagline-styling">Let it all out</p>
      </article>
    </section>
  </div>
</div>