<div id="content">
  <div class="wrapper">
    <section>
      <article class="one_third">
        <p id="logo_styling">Rantly</p>
      </article>
    </section> <!-- .class -->
    <section class="clearfix">
      <article>
        <p id="tagline">Let it all out</p>

        <p id="rant-list"></p>
      </article>
    </section>
  </div>
</div>