<div class="flex-container-body">

  <div class="flex-container-profile" id="user-profile">
    <%= render partial: "shared/sidebar", locals: {dashboard: @dashboard} %>
  </div>

  <div class="flex-container-user-body" id="user-body">
    <%= render partial: 'search_form', locals: {users: @users, rants: @rants} %>
  </div>

</div>

