<div class="flex-container-body" id="user-profile">

  <%= render partial: "shared/sidebar", locals: {dashboard: @dashboard} %>

    <div class="flex-container-search-rant-form">
      <%= render partial: "search_form", locals: {users: @users, rants: @rants} %>
    </div>
  </div>

</div>