<div class="flex-item-center">
  <form id="search-form">
    <input type="text" id="search-value" title="Search"/>
    <input type="submit"/>
  </form>
</div><br/>
<div>
  <ul id="rant-list">

  </ul>
</div>